{
  "docsUrl": "https://github.com/13888285815/workbuddy-Winhance",
  "bugReportUrl": "https://github.com/13888285815/workbuddy-Winhance/issues",
  "supportUrl": "https://github.com/13888285815/workbuddy-Winhance/discussions"
}
